In [ ]:
# Install BeautifulSoup4 (bs4) for web scraping.
pip install bs4

# Install the 'requests' library for making HTTP requests.
pip install requests

# Install 'texttable' for creating text-based tables to display data.
pip install texttable

In [9]:
#Import libraries

import requests
from bs4 import BeautifulSoup
import texttable as texttable
import pandas as pd
import numbers as np

In [10]:
# Define the URL.
url = 'https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/'

In [11]:
# Get and store the webpage content.
covidWeb = requests.get(url)

# Parse the webpage content.
soup = BeautifulSoup(covidWeb.text, 'html.parser')

# Create an empty list to store the data extracted from the webpage.
covidData = []

In [12]:
# Find all 'td' (table cell) elements found in the webpage.
iteratedData = iter(soup.findAll('td'))

In [13]:
# Iterate through the data in the HTML elements and extract information.
while True:
    try:
        # Extract data for each category and append it to the list.
        country = next(iteratedData).text
        confirmedCases = next(iteratedData).text
        deaths = next(iteratedData).text
        continents = next(iteratedData).text

        covidData.append((
            country,
            int(confirmedCases.replace(',', '')),
            int(deaths.replace(',', '')),
            continents
        ))
        
    # Stop the loop when thera are no more elements to process.
    except StopIteration:
        break

In [14]:
# Sort the  list based on the first element of each tuple.
covidData.sort(key=lambda x: x[0])

covidData

[('Afghanistan', 227214, 7952, 'Asia'),
 ('Albania', 334726, 3602, 'Europe'),
 ('Algeria', 271945, 6881, 'Africa'),
 ('Andorra', 48015, 165, 'Europe'),
 ('Angola', 105972, 1936, 'Africa'),
 ('Anguilla', 3904, 12, 'North America'),
 ('Antigua and Barbuda', 9106, 146, 'North America'),
 ('Argentina', 10075418, 130644, 'South America'),
 ('Armenia', 450334, 8762, 'Asia'),
 ('Aruba', 44224, 292, 'North America'),
 ('Australia', 11787077, 22869, 'Australia/Oceania'),
 ('Austria', 6081287, 22542, 'Europe'),
 ('Azerbaijan', 833955, 10353, 'Asia'),
 ('Bahamas', 38084, 844, 'North America'),
 ('Bahrain', 729191, 1574, 'Asia'),
 ('Bangladesh', 2045843, 29477, 'Asia'),
 ('Barbados', 110235, 641, 'North America'),
 ('Belarus', 994037, 7118, 'Europe'),
 ('Belgium', 4823665, 34376, 'Europe'),
 ('Belize', 71060, 688, 'North America'),
 ('Benin', 28036, 163, 'Africa'),
 ('Bermuda', 18860, 165, 'North America'),
 ('Bhutan', 62697, 21, 'Asia'),
 ('Bolivia', 1209081, 22404, 'South America'),
 ('Bosnia and Herzegovina', 403203, 16357, 'Europe'),
 ('Botswana', 330298, 2801, 'Africa'),
 ('Brazil', 37905713, 706531, 'South America'),
 ('British Virgin Islands', 7305, 64, 'North America'),
 ('Brunei ', 311905, 225, 'Asia'),
 ('Bulgaria', 1321917, 38531, 'Europe'),
 ('Burkina Faso', 22056, 396, 'Africa'),
 ('Burundi', 54366, 38, 'Africa'),
 ('Cabo Verde', 64401, 415, 'Africa'),
 ('Cambodia', 138941, 3056, 'Asia'),
 ('Cameroon', 125090, 1974, 'Africa'),
 ('Canada', 4768195, 54498, 'North America'),
 ('Caribbean Netherlands', 11682, 38, 'North America'),
 ('Cayman Islands', 31472, 37, 'North America'),
 ('Central African Republic', 15368, 113, 'Africa'),
 ('Chad', 7701, 194, 'Africa'),
 ('Channel Islands', 101717, 228, 'Europe'),
 ('Chile', 5299330, 64497, 'South America'),
 ('China', 503302, 5272, 'Asia'),
 ('Colombia', 6383588, 143065, 'South America'),
 ('Comoros', 9109, 161, 'Africa'),
 ('Congo', 25375, 386, 'Africa'),
 ('Cook Islands', 7168, 2, 'Australia/Oceania'),
 ('Costa Rica', 1238883, 9428, 'North America'),
 ('Croatia', 1276216, 18414, 'Europe'),
 ('Cuba', 1115141, 8530, 'North America'),
 ('Curaçao', 45986, 295, 'North America'),
 ('Cyprus', 660854, 1364, 'Asia'),
 ('Czech Republic (Czechia)', 4663335, 42906, 'Europe'),
 ("Côte d'Ivoire", 88338, 835, 'Africa'),
 ('DR Congo', 99181, 1468, 'Africa'),
 ('Denmark', 3183756, 8814, 'Europe'),
 ('Djibouti', 15690, 189, 'Africa'),
 ('Dominica', 15798, 74, 'North America'),
 ('Dominican Republic', 670627, 4384, 'North America'),
 ('Ecuador', 1069139, 36043, 'South America'),
 ('Egypt', 516023, 24613, 'Africa'),
 ('El Salvador', 201807, 4230, 'North America'),
 ('Equatorial Guinea', 17229, 183, 'Africa'),
 ('Eritrea', 10189, 103, 'Africa'),
 ('Estonia', 620155, 3001, 'Europe'),
 ('Eswatini', 75052, 1427, 'Africa'),
 ('Ethiopia', 501060, 7574, 'Africa'),
 ('Faeroe Islands', 34658, 28, 'Europe'),
 ('Falkland Islands', 1930, 0, 'South America'),
 ('Fiji', 69117, 885, 'Australia/Oceania'),
 ('Finland', 1488381, 10371, 'Europe'),
 ('France', 40138560, 167642, 'Europe'),
 ('French Guiana', 98041, 420, 'South America'),
 ('French Polynesia', 78642, 649, 'Australia/Oceania'),
 ('Gabon', 48992, 307, 'Africa'),
 ('Gambia', 12626, 372, 'Africa'),
 ('Georgia', 1855289, 17132, 'Asia'),
 ('Germany', 38538595, 176614, 'Europe'),
 ('Ghana', 171780, 1462, 'Africa'),
 ('Gibraltar', 20550, 113, 'Europe'),
 ('Greece', 6101379, 37089, 'Europe'),
 ('Greenland', 11971, 21, 'North America'),
 ('Grenada', 19693, 238, 'North America'),
 ('Guadeloupe', 203235, 1021, 'North America'),
 ('Guatemala', 1278523, 20264, 'North America'),
 ('Guinea', 38563, 468, 'Africa'),
 ('Guinea-Bissau', 9614, 177, 'Africa'),
 ('Guyana', 73385, 1299, 'South America'),
 ('Haiti', 34368, 860, 'North America'),
 ('Holy See', 29, 0, 'Europe'),
 ('Honduras', 474587, 11165, 'North America'),
 ('Hong Kong', 2922977, 14296, 'Asia'),
 ('Hungary', 2207969, 48881, 'Europe'),
 ('Iceland', 209191, 229, 'Europe'),
 ('India', 44999765, 533291, 'Asia'),
 ('Indonesia', 6813652, 161920, 'Asia'),
 ('Iran', 7619981, 146480, 'Asia'),
 ('Iraq', 2465545, 25375, 'Asia'),
 ('Ireland', 1723096, 9304, 'Europe'),
 ('Isle of Man', 38008, 116, 'Europe'),
 ('Israel', 4840714, 12697, 'Asia'),
 ('Italy', 26202253, 192210, 'Europe'),
 ('Jamaica', 156469, 3664, 'North America'),
 ('Japan (+Diamond Princess)', 33804284, 74707, 'Asia'),
 ('Jordan', 1746997, 14122, 'Asia'),
 ('Kazakhstan', 1411831, 13848, 'Asia'),
 ('Kenya', 343999, 5689, 'Africa'),
 ('Kiribati', 5085, 24, 'Australia/Oceania'),
 ('Kuwait', 666432, 2570, 'Asia'),
 ('Kyrgyzstan', 206897, 2991, 'Asia'),
 ('Laos', 218888, 758, 'Asia'),
 ('Latvia', 979014, 6406, 'Europe'),
 ('Lebanon', 1243838, 10952, 'Asia'),
 ('Lesotho', 34790, 723, 'Africa'),
 ('Liberia', 8090, 295, 'Africa'),
 ('Libya', 507274, 6437, 'Africa'),
 ('Liechtenstein', 21497, 94, 'Europe'),
 ('Lithuania', 1336879, 9733, 'Europe'),
 ('Luxembourg', 319959, 1232, 'Europe'),
 ('MS Zaandam', 9, 2, ''),
 ('Macao', 19568, 123, 'Asia'),
 ('Madagascar', 68350, 1425, 'Africa'),
 ('Malawi', 88986, 2686, 'Africa'),
 ('Malaysia', 5129800, 37181, 'Asia'),
 ('Maldives', 186694, 316, 'Asia'),
 ('Mali', 33158, 743, 'Africa'),
 ('Malta', 120686, 865, 'Europe'),
 ('Marshall Islands', 16138, 17, 'Australia/Oceania'),
 ('Martinique', 230354, 1102, 'North America'),
 ('Mauritania', 63774, 997, 'Africa'),
 ('Mauritius', 42994, 1051, 'Africa'),
 ('Mayotte', 42027, 188, 'Africa'),
 ('Mexico', 7649199, 334472, 'North America'),
 ('Micronesia', 26547, 65, 'Australia/Oceania'),
 ('Moldova', 625153, 12128, 'Europe'),
 ('Monaco', 17049, 67, 'Europe'),
 ('Mongolia', 1011170, 2179, 'Asia'),
 ('Montenegro', 294074, 2832, 'Europe'),
 ('Montserrat', 1403, 8, 'North America'),
 ('Morocco', 1277082, 16297, 'Africa'),
 ('Mozambique', 233654, 2249, 'Africa'),
 ('Myanmar', 641330, 19495, 'Asia'),
 ('Namibia', 172121, 4100, 'Africa'),
 ('Nauru', 5393, 1, 'Australia/Oceania'),
 ('Nepal', 1003447, 12031, 'Asia'),
 ('Netherlands', 8619835, 22992, 'Europe'),
 ('New Caledonia', 80064, 314, 'Australia/Oceania'),
 ('New Zealand', 2481834, 4916, 'Australia/Oceania'),
 ('Nicaragua', 18491, 225, 'North America'),
 ('Niger', 9931, 312, 'Africa'),
 ('Nigeria', 267146, 3155, 'Africa'),
 ('Niue', 887, 0, 'Australia/Oceania'),
 ('North Korea', 4772813, 74, 'Asia'),
 ('North Macedonia', 348411, 9941, 'Europe'),
 ('Norway', 1489459, 5732, 'Europe'),
 ('Oman', 399449, 4628, 'Asia'),
 ('Pakistan', 1581897, 30664, 'Asia'),
 ('Palau', 6246, 9, 'Australia/Oceania'),
 ('Panama', 1049089, 8666, 'North America'),
 ('Papua New Guinea', 46864, 670, 'Australia/Oceania'),
 ('Paraguay', 815869, 20028, 'South America'),
 ('Peru', 4519976, 222161, 'South America'),
 ('Philippines', 4119152, 66734, 'Asia'),
 ('Poland', 6530685, 119666, 'Europe'),
 ('Portugal', 5631281, 27686, 'Europe'),
 ('Qatar', 514524, 690, 'Asia'),
 ('Romania', 3485792, 68455, 'Europe'),
 ('Russia', 23098734, 400195, 'Europe'),
 ('Rwanda', 133518, 1468, 'Africa'),
 ('Réunion', 486588, 921, 'Africa'),
 ('Saint Barthelemy', 5507, 6, 'North America'),
 ('Saint Helena', 2166, 0, 'Africa'),
 ('Saint Kitts & Nevis', 6607, 48, 'North America'),
 ('Saint Lucia', 30147, 410, 'North America'),
 ('Saint Martin', 12324, 63, 'North America'),
 ('Saint Pierre & Miquelon', 3452, 2, 'North America'),
 ('Samoa', 16778, 31, 'Australia/Oceania'),
 ('San Marino', 24915, 126, 'Europe'),
 ('Sao Tome & Principe', 6601, 80, 'Africa'),
 ('Saudi Arabia', 841469, 9646, 'Asia'),
 ('Senegal', 89022, 1971, 'Africa'),
 ('Serbia', 2567962, 18057, 'Europe'),
 ('Seychelles', 50937, 172, 'Africa'),
 ('Sierra Leone', 7766, 126, 'Africa'),
 ('Singapore', 2634870, 1885, 'Asia'),
 ('Sint Maarten', 11051, 92, 'North America'),
 ('Slovakia', 1868111, 21167, 'Europe'),
 ('Slovenia', 1346595, 7100, 'Europe'),
 ('Solomon Islands', 24575, 153, 'Australia/Oceania'),
 ('Somalia', 27334, 1361, 'Africa'),
 ('South Africa', 4076463, 102595, 'Africa'),
 ('South Korea', 34571873, 35934, 'Asia'),
 ('South Sudan', 18368, 138, 'Africa'),
 ('Spain', 13914811, 121760, 'Europe'),
 ('Sri Lanka', 672593, 16882, 'Asia'),
 ('St. Vincent & Grenadines', 9644, 124, 'North America'),
 ('State of Palestine', 621008, 5404, 'Asia'),
 ('Sudan', 63993, 5046, 'Africa'),
 ('Suriname', 82588, 1408, 'South America'),
 ('Sweden', 2720119, 25013, 'Europe'),
 ('Switzerland', 4418681, 14452, 'Europe'),
 ('Syria', 57743, 3165, 'Asia'),
 ('Taiwan', 10241523, 19005, 'Asia'),
 ('Tajikistan', 17786, 125, 'Asia'),
 ('Tanzania', 43078, 846, 'Africa'),
 ('Thailand', 4757919, 34486, 'Asia'),
 ('Timor-Leste', 23460, 138, 'Asia'),
 ('Togo', 39524, 290, 'Africa'),
 ('Tokelau', 80, 0, 'Australia/Oceania'),
 ('Tonga', 16839, 13, 'Australia/Oceania'),
 ('Trinidad and Tobago', 191496, 4390, 'North America'),
 ('Tunisia', 1153361, 29423, 'Africa'),
 ('Turkey', 17232066, 102174, 'Asia'),
 ('Turks and Caicos', 6656, 39, 'North America'),
 ('Tuvalu', 2943, 1, 'Australia/Oceania'),
 ('Uganda', 171871, 3632, 'Africa'),
 ('Ukraine', 5557995, 112418, 'Europe'),
 ('United Arab Emirates', 1067030, 2349, 'Asia'),
 ('United Kingdom', 24779150, 230383, 'Europe'),
 ('United States', 109047729, 1180288, 'North America'),
 ('Uruguay', 1038774, 7634, 'South America'),
 ('Uzbekistan', 253662, 1637, 'Asia'),
 ('Vanuatu', 12019, 14, 'Australia/Oceania'),
 ('Venezuela', 552695, 5856, 'South America'),
 ('Vietnam', 11624089, 43206, 'Asia'),
 ('Wallis & Futuna', 3550, 8, 'Australia/Oceania'),
 ('Western Sahara', 10, 1, 'Africa'),
 ('Yemen', 11945, 2159, 'Asia'),
 ('Zambia', 349287, 4069, 'Africa'),
 ('Zimbabwe', 265808, 5718, 'Africa')]

In [15]:
# Se crea el objeto de tabla de texto
covidDataTable = texttable.Texttable()
 
# Se agregue una fila vacía al principio para los encabezados
covidDataTable.add_rows([(None, None, None, None)] + covidData)
 
# Para formatear la tabla, usamos: 
# 'l' alineado a la izquierda
# 'c' centrado
# 'r' alineado a la derecha

covidDataTable.set_cols_align(('c', 'c', 'c', 'c')) 
covidDataTable.header((' Country ', ' Nº of cases ', ' Nº of deaths ', ' Continent '))
 
print(covidDataTable.draw())

+-------------------------+---------------+----------------+-------------------+
|         Country         |  Nº of cases  |  Nº of deaths  |     Continent     |
+=========================+===============+================+===================+
|       Afghanistan       |    227214     |      7952      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Albania         |    334726     |      3602      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Algeria         |    271945     |      6881      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Andorra         |     48015     |      165       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Angola          |    105972     |      1936      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        Anguilla         |     3904      |       12       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|   Antigua and Barbuda   |     9106      |      146       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|        Argentina        |   10075418    |     130644     |   South America   |
+-------------------------+---------------+----------------+-------------------+
|         Armenia         |    450334     |      8762      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|          Aruba          |     44224     |      292       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|        Australia        |   11787077    |     22869      | Australia/Oceania |
+-------------------------+---------------+----------------+-------------------+
|         Austria         |    6081287    |     22542      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|       Azerbaijan        |    833955     |     10353      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Bahamas         |     38084     |      844       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Bahrain         |    729191     |      1574      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|       Bangladesh        |    2045843    |     29477      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|        Barbados         |    110235     |      641       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Belarus         |    994037     |      7118      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Belgium         |    4823665    |     34376      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Belize          |     71060     |      688       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|          Benin          |     28036     |      163       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Bermuda         |     18860     |      165       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Bhutan          |     62697     |       21       |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Bolivia         |    1209081    |     22404      |   South America   |
+-------------------------+---------------+----------------+-------------------+
| Bosnia and Herzegovina  |    403203     |     16357      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|        Botswana         |    330298     |      2801      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Brazil          |   37905713    |     706531     |   South America   |
+-------------------------+---------------+----------------+-------------------+
| British Virgin Islands  |     7305      |       64       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Brunei          |    311905     |      225       |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|        Bulgaria         |    1321917    |     38531      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|      Burkina Faso       |     22056     |      396       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Burundi         |     54366     |       38       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|       Cabo Verde        |     64401     |      415       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        Cambodia         |    138941     |      3056      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|        Cameroon         |    125090     |      1974      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Canada          |    4768195    |     54498      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|  Caribbean Netherlands  |     11682     |       38       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|     Cayman Islands      |     31472     |       37       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|     Central African     |     15368     |      113       |      Africa       |
|        Republic         |               |                |                   |
+-------------------------+---------------+----------------+-------------------+
|          Chad           |     7701      |      194       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|     Channel Islands     |    101717     |      228       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|          Chile          |    5299330    |     64497      |   South America   |
+-------------------------+---------------+----------------+-------------------+
|          China          |    503302     |      5272      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|        Colombia         |    6383588    |     143065     |   South America   |
+-------------------------+---------------+----------------+-------------------+
|         Comoros         |     9109      |      161       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|          Congo          |     25375     |      386       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|      Cook Islands       |     7168      |       2        | Australia/Oceania |
+-------------------------+---------------+----------------+-------------------+
|       Costa Rica        |    1238883    |      9428      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Croatia         |    1276216    |     18414      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|          Cuba           |    1115141    |      8530      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Curaçao         |     45986     |      295       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Cyprus          |    660854     |      1364      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|     Czech Republic      |    4663335    |     42906      |      Europe       |
|        (Czechia)        |               |                |                   |
+-------------------------+---------------+----------------+-------------------+
|      Côte d'Ivoire      |     88338     |      835       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        DR Congo         |     99181     |      1468      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Denmark         |    3183756    |      8814      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|        Djibouti         |     15690     |      189       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        Dominica         |     15798     |       74       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|   Dominican Republic    |    670627     |      4384      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Ecuador         |    1069139    |     36043      |   South America   |
+-------------------------+---------------+----------------+-------------------+
|          Egypt          |    516023     |     24613      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|       El Salvador       |    201807     |      4230      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|    Equatorial Guinea    |     17229     |      183       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Eritrea         |     10189     |      103       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Estonia         |    620155     |      3001      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|        Eswatini         |     75052     |      1427      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        Ethiopia         |    501060     |      7574      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|     Faeroe Islands      |     34658     |       28       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|    Falkland Islands     |     1930      |       0        |   South America   |
+-------------------------+---------------+----------------+-------------------+
|          Fiji           |     69117     |      885       | Australia/Oceania |
+-------------------------+---------------+----------------+-------------------+
|         Finland         |    1488381    |     10371      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         France          |   40138560    |     167642     |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|      French Guiana      |     98041     |      420       |   South America   |
+-------------------------+---------------+----------------+-------------------+
|    French Polynesia     |     78642     |      649       | Australia/Oceania |
+-------------------------+---------------+----------------+-------------------+
|          Gabon          |     48992     |      307       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Gambia          |     12626     |      372       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Georgia         |    1855289    |     17132      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Germany         |   38538595    |     176614     |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|          Ghana          |    171780     |      1462      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        Gibraltar        |     20550     |      113       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Greece          |    6101379    |     37089      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|        Greenland        |     11971     |       21       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Grenada         |     19693     |      238       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|       Guadeloupe        |    203235     |      1021      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|        Guatemala        |    1278523    |     20264      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|         Guinea          |     38563     |      468       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|      Guinea-Bissau      |     9614      |      177       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Guyana          |     73385     |      1299      |   South America   |
+-------------------------+---------------+----------------+-------------------+
|          Haiti          |     34368     |      860       |   North America   |
+-------------------------+---------------+----------------+-------------------+
|        Holy See         |      29       |       0        |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|        Honduras         |    474587     |     11165      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|        Hong Kong        |    2922977    |     14296      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Hungary         |    2207969    |     48881      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Iceland         |    209191     |      229       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|          India          |   44999765    |     533291     |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|        Indonesia        |    6813652    |     161920     |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|          Iran           |    7619981    |     146480     |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|          Iraq           |    2465545    |     25375      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Ireland         |    1723096    |      9304      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|       Isle of Man       |     38008     |      116       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Israel          |    4840714    |     12697      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|          Italy          |   26202253    |     192210     |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Jamaica         |    156469     |      3664      |   North America   |
+-------------------------+---------------+----------------+-------------------+
|     Japan (+Diamond     |   33804284    |     74707      |       Asia        |
|        Princess)        |               |                |                   |
+-------------------------+---------------+----------------+-------------------+
|         Jordan          |    1746997    |     14122      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|       Kazakhstan        |    1411831    |     13848      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|          Kenya          |    343999     |      5689      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|        Kiribati         |     5085      |       24       | Australia/Oceania |
+-------------------------+---------------+----------------+-------------------+
|         Kuwait          |    666432     |      2570      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|       Kyrgyzstan        |    206897     |      2991      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|          Laos           |    218888     |      758       |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Latvia          |    979014     |      6406      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|         Lebanon         |    1243838    |     10952      |       Asia        |
+-------------------------+---------------+----------------+-------------------+
|         Lesotho         |     34790     |      723       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|         Liberia         |     8090      |      295       |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|          Libya          |    507274     |      6437      |      Africa       |
+-------------------------+---------------+----------------+-------------------+
|      Liechtenstein      |     21497     |       94       |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|        Lithuania        |    1336879    |      9733      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|       Luxembourg        |    319959     |      1232      |      Europe       |
+-------------------------+---------------+----------------+-------------------+
|       MS Zaandam        |       9       |       2        |                   |
+-------------------------+---------------+----------------+-------------------+

##### If we wanted to dump this information into a Dataframe, how would we go about it?

In [16]:
# Get the table as a string from the Texttable object.
tabla_string = covidDataTable.draw()

# Split the table string into lines and store the non-empty lines.
tabla_data = [line.strip() for line in tabla_string.split('\n') if line.strip()]

# Extract column names from the second line of the table.
column_names = [name.strip() for name in tabla_data[1].split('|') if name.strip()]

# Extract data rows starting from the fourth line.
data_rows = [row.strip() for row in tabla_data[3:-1]]

# Split each data row using '|' as a separator .
data_rows = [row.split('|')[1:-1] for row in data_rows]

# Create a Pandas DataFrame.
df = pd.DataFrame(data_rows, columns=column_names)

df

,Country,Nº of cases,Nº of deaths,Continent
0,Afghanistan,227214,7952,Asia
1,None,None,None,None
2,Albania,334726,3602,Europe
3,None,None,None,None
4,Algeria,271945,6881,Africa
...,...,...,...,...
458,Yemen,11945,2159,Asia
459,None,None,None,None
460,Zambia,349287,4069,Africa
461,None,None,None,None
462,Zimbabwe,265808,5718,Africa